body {
    width: 100%;
    height: 100%;
    text-align: center;
}

.titulo-index{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
}

.div-tabela{
    
}

.tabela-principal{
    border: 1px solid #5c5c5c;
    margin: auto;
    padding: 20px ;
    font-size: 20px;
}

.tabela-principal td{
    padding: 20px ;
}

.menu{
    font-size: 25px;
}

a:link, a:visited {
    color: #0f5422;
    text-decoration: underline; 
}
a:hover {
    text-decoration: none; 
    color: #179e22;
}

.form{
    font-size: 25px;
}

.form select{
    font-size: 25px;
}

.form input{
    font-size: 25px;
}